@namespace Skclusive.Material.Layout
@inherits NavigationComponent

<List
    RootRef="@RootRef"
    Class="@_Class"
    Style="@_Style"
    @attributes="Attributes">
    @foreach(var item in Items)
    {
        <ListItem
            @key="@item.Title"
             Class="@_ItemClass"
             Style="@_ItemStyle"
             NoWrap
             DisableGutters
             Button
             OnClick="@(item.OnActivate)"
             >
            <div
                ActiveClass="@_ActiveClass"
                class="@($"{context.Class} {_LinkClass} {(item.Active == true ? _ActiveClass : "")}")"
                style="@($"{_LinkStyle}")">
                <ListItemIcon>
                    <Badge
                        Class="Navigation-Badge"
                        Color="@Color.Secondary"
                        Badge="@item.Badge?.ToString()">
                        <MaterialIcon
                            Class="@_IconClass"
                            Style="@_IconStyle">
                            @item.Icon
                        </MaterialIcon>
                    </Badge>                    
                </ListItemIcon>
                <ListItemText
                        Primary="@item.Title" />
            </div>
        </ListItem>
    }
</List>
